*{
	color: white;
	text-align: center;
	background-color:black;
}
img{
	position:relative;
	float:left;
	bottom:0%;
	left:0;
	height:450px;
}
h2{
	font-size: 400px;
}
h1{
	font-size:200px;
}
p{
	font-size:100px;
}